.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border: none;
    background: var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    padding: 8px 16px;
    height: 40px;

    font-size: 18px;
    color: white;
}

.add-button-text {
    font-size: 14px;
    line-height: 20px;
}