.add-button {
    display: block;
    border: 2px solid #3F2B96;
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    border-radius: 0.9em;
    cursor: pointer;
    padding: 5px 15px;
    transition: all ease-in-out 0.2s;
    font-size: 18px;
    color: white;
}