.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--border);
    border-radius: 20px;
    background-color: var(--form-color);
    padding: 20px;
}

.title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: white;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 12px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}

.text {
    color: var(--secondary-text-color);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
}

.text:last-child {
    text-transform: lowercase;
}

.minute-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.delete-button-wrapper {
    display: flex;
    margin-top: 20px;
}

.input {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 12px;
    border: 1px solid var(--border); 
    border-radius: 10px;
    color: white;
}

.form {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
}

.actions-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}