.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: var(--form-color);
}

.inputs-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
}

.input {
    font-size: 20px;
    padding: 15px 10px 10px 10px;
    border: 1px solid rgba(105, 105, 105, 0.397); 
    border-radius: 10px;
    color: white;
}

label {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

