.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: var(--form-color);
    border: 1px solid var(--border);
}

.inputs-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
}

.input {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 12px;
    border: 1px solid var(--border); 
    border-radius: 10px;
    color: white;
}

.input:focus {
    border-color: var(--primary-color);
}

label {
    font-size: 12px;
    font-weight: 400;
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-title {
    font-size: 16px;
    line-height: 16px;
}

