:root {
    --background: #0e0e10;
    --primary-text-color:#f2f2f2;
    --secondary-text-color: #8c8c8c;
    --form-color: #18181b;
    --input-color: 	#27272a;
    --border: #36363a;
    --primary-color: #9400D3;
}